<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"travelsolution","align":"full"} /-->

    <!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0","padding":{"bottom":"50px"}}},"layout":{"type":"constrained"}} -->
    <main class="wp-block-group alignfull" style="padding-bottom:50px"><!-- wp:cover {"customOverlayColor":"#11263a","isUserOverlayColor":true,"minHeight":300,"align":"full","style":{"spacing":{"margin":{"bottom":"50px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-cover alignfull" style="margin-bottom:50px;min-height:300px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim" style="background-color:#11263a"></span><div class="wp-block-cover__inner-container"><!-- wp:query-title {"type":"archive","textAlign":"center","style":{"typography":{"fontSize":"38px"},"elements":{"link":{"color":{"text":"var:preset|color|bright"}}}},"textColor":"bright"} /--></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:query {"queryId":16,"query":{"perPage":"6","pages":0,"offset":0,"postType":"travel-guide","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"align":"wide","layout":{"type":"default"}} -->
    <div class="wp-block-query alignwide"><!-- wp:post-template {"style":{"spacing":{"blockGap":"30px"}},"layout":{"type":"grid","columnCount":3}} -->
    <!-- wp:group {"style":{"border":{"width":"3px"},"spacing":{"blockGap":"0"}},"borderColor":"bright","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-border-color has-bright-border-color" style="border-width:3px"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":30,"customOverlayColor":"#8c7e6f","minHeight":300,"contentPosition":"bottom center","isDark":false,"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-cover is-light has-custom-content-position is-position-bottom-center" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;min-height:300px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim" style="background-color:#8c7e6f"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"padding":{"right":"20px","left":"20px","top":"10px","bottom":"10px"}},"color":{"background":"#00000030"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group has-background" style="background-color:#00000030;padding-top:10px;padding-right:20px;padding-bottom:10px;padding-left:20px"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontSize":"16px"},"elements":{"link":{"color":{"text":"var:preset|color|bright"}}}},"textColor":"bright"} -->
    <p class="has-bright-color has-text-color has-link-color" style="font-size:16px"><strong>Since  </strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:wptravel/guide-join-year {"style":{"elements":{"link":{"color":{"text":"var:preset|color|bright"}}}},"textColor":"bright"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"right","verticalAlignment":"center"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0"><!-- wp:wptravel/guide-review /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"20px","left":"20px","top":"20px","bottom":"20px"},"blockGap":"var:preset|spacing|20"}},"backgroundColor":"bright","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-bright-background-color has-background" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:wptravel/guide-fullname {"style":{"typography":{"fontSize":"22px"}}} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"spacing":{"padding":{"right":"5px"}},"typography":{"fontSize":"16px"}}} -->
    <p style="padding-right:5px;font-size:16px"><strong>From</strong> :  </p>
    <!-- /wp:paragraph -->
    
    <!-- wp:wptravel/guide-city /-->
    
    <!-- wp:paragraph {"style":{"spacing":{"padding":{"right":"5px"}}}} -->
    <p style="padding-right:5px">, </p>
    <!-- /wp:paragraph -->
    
    <!-- wp:wptravel/guide-country /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"spacing":{"padding":{"right":"5px"}},"typography":{"fontSize":"16px"}}} -->
    <p style="padding-right:5px;font-size:16px"><strong>Speaks</strong> :</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:wptravel/guide-language /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"spacing":{"padding":{"right":"5px"}},"typography":{"fontSize":"16px"}}} -->
    <p style="padding-right:5px;font-size:16px"><strong>Contact</strong> :</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:wptravel/guide-contact-number /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"20px","left":"20px","top":"10px","bottom":"10px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group" style="padding-top:10px;padding-right:20px;padding-bottom:10px;padding-left:20px"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontSize":"16px"}}} -->
    <p style="font-size:16px"><strong>Age  </strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:wptravel/guide-age /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"right","verticalAlignment":"center"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0"><!-- wp:wptravel/guide-social-link /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:post-template --></div>
    <!-- /wp:query --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"travelsolution","align":"full"} /--></div>
    <!-- /wp:group -->