<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"travelsolution","align":"full"} /-->

    <!-- wp:group {"style":{"spacing":{"margin":{"bottom":"60px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="margin-bottom:60px"><!-- wp:cover {"customOverlayColor":"#11263a","isUserOverlayColor":true,"minHeight":300,"align":"full","style":{"spacing":{"margin":{"bottom":"50px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-cover alignfull" style="margin-bottom:50px;min-height:300px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim" style="background-color:#11263a"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"textAlign":"center","style":{"typography":{"fontSize":"38px"},"elements":{"link":{"color":{"text":"var:preset|color|bright"}}}},"textColor":"bright"} /--></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"40px","bottom":"40px","left":"40px","right":"40px"}}},"backgroundColor":"bright","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide has-bright-background-color has-background" style="padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|60"}}}} -->
    <div class="wp-block-columns alignwide"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"customOverlayColor":"#FFF","isUserOverlayColor":true,"minHeight":500,"isDark":false,"layout":{"type":"constrained"}} -->
    <div class="wp-block-cover is-light" style="min-height:500px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
    <p class="has-text-align-center has-large-font-size"></p>
    <!-- /wp:paragraph --></div></div>
    <!-- /wp:cover --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"blockGap":"0"}}} -->
    <div class="wp-block-column is-vertically-aligned-center"><!-- wp:wptravel/guide-fullname {"style":{"typography":{"fontSize":"32px"}}} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"10px"},"typography":{"lineHeight":"3"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
    <div class="wp-block-group" style="line-height:3"><!-- wp:paragraph {"style":{"typography":{"fontSize":"18px"}}} -->
    <p style="font-size:18px"><strong>Since</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>-</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:wptravel/guide-join-year {"style":{"typography":{"fontSize":"18px"}}} /-->
    
    <!-- wp:paragraph -->
    <p>/</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:wptravel/guide-review /--></div>
    <!-- /wp:group -->
    
    <!-- wp:wptravel/guide-biography /-->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"margin":{"top":"30px"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
    <div class="wp-block-group" style="margin-top:30px"><!-- wp:heading {"style":{"typography":{"fontSize":"20px","lineHeight":"0"}}} -->
    <h2 class="wp-block-heading" style="font-size:20px;line-height:0">Language ( s )</h2>
    <!-- /wp:heading -->
    
    <!-- wp:wptravel/guide-language /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"margin":{"top":"30px"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
    <div class="wp-block-group" style="margin-top:30px"><!-- wp:heading {"style":{"typography":{"fontSize":"20px","lineHeight":"0"}}} -->
    <h2 class="wp-block-heading" style="font-size:20px;line-height:0">Social Links</h2>
    <!-- /wp:heading -->
    
    <!-- wp:wptravel/guide-social-link /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"bottom":"30px"}},"color":{"background":"#e5e5e53b"}}} -->
    <div class="wp-block-columns alignwide has-background" style="background-color:#e5e5e53b;padding-bottom:30px"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"style":{"typography":{"fontSize":"20px"}}} -->
    <h2 class="wp-block-heading" style="font-size:20px">Guide ID</h2>
    <!-- /wp:heading -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"10px"},"typography":{"lineHeight":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="line-height:0"><!-- wp:wptravel/guide-code /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"style":{"typography":{"fontSize":"20px"}}} -->
    <h2 class="wp-block-heading" style="font-size:20px">Gender</h2>
    <!-- /wp:heading -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"10px"},"typography":{"lineHeight":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="line-height:0"><!-- wp:wptravel/guide-gender /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"style":{"typography":{"fontSize":"20px"}}} -->
    <h2 class="wp-block-heading" style="font-size:20px">Age</h2>
    <!-- /wp:heading -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"10px"},"typography":{"lineHeight":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="line-height:0"><!-- wp:wptravel/guide-age /-->
    
    <!-- wp:paragraph -->
    <p>Year</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"style":{"typography":{"fontSize":"20px"}}} -->
    <h2 class="wp-block-heading" style="font-size:20px">Location</h2>
    <!-- /wp:heading -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"10px"},"typography":{"lineHeight":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="line-height:0"><!-- wp:wptravel/guide-city /-->
    
    <!-- wp:wptravel/guide-country /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"style":{"typography":{"fontSize":"20px"}}} -->
    <h2 class="wp-block-heading" style="font-size:20px">Contact</h2>
    <!-- /wp:heading -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"10px"},"typography":{"lineHeight":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="line-height:0"><!-- wp:wptravel/guide-contact-number /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"40px"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide" style="margin-top:40px"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"15px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group alignwide"><!-- wp:heading {"align":"wide","style":{"typography":{"fontSize":"30px"}}} -->
    <h2 class="wp-block-heading alignwide" style="font-size:30px">About</h2>
    <!-- /wp:heading -->
    
    <!-- wp:wptravel/guide-fullname {"style":{"typography":{"fontSize":"30px"}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:wptravel/guide-short-description /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide"><!-- wp:wptravel/guide-review-form /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"40px"},"padding":{"top":"40px","bottom":"40px","left":"40px","right":"40px"}},"color":{"background":"#e5e5e53b"}},"layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide has-background" style="background-color:#e5e5e53b;margin-top:40px;padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"15px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group alignwide"><!-- wp:heading {"align":"wide","style":{"typography":{"fontSize":"30px"}}} -->
    <h2 class="wp-block-heading alignwide" style="font-size:30px">Tours By</h2>
    <!-- /wp:heading -->
    
    <!-- wp:wptravel/guide-fullname {"style":{"typography":{"fontSize":"30px"}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:wptravel/guide-featured-trip {"layoutType":"layout-two","cardLayout":"list-view"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"travelsolution","align":"full"} /--></div>
    <!-- /wp:group -->