<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"travelsolution","align":"full"} /-->

    <!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
    <main class="wp-block-group alignfull"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"minHeight":300,"isDark":false,"align":"full","style":{"spacing":{"margin":{"bottom":"50px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-cover alignfull is-light" style="margin-bottom:50px;min-height:300px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"textAlign":"center","level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|bright"}}},"typography":{"fontSize":"38px"}},"textColor":"bright"} /--></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /-->
    
    <!-- wp:spacer {"height":"40px"} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"travelsolution","align":"full"} /--></div>
    <!-- /wp:group -->